    #container {
    width: 80%;
    max-width: 150px;
    margin-inline: auto; 
  }

    .botao-normal {
    border:none;
    background-color: rgb(128, 0, 64);
    color: white;
    transition: filter .3s;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    padding: 20px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-top: 300px;
  }
  
  .botao-normal:hover {
  filter: brightness(2.2);
  cursor: pointer;
  } 

  .botao-clicado:hover {
    filter: brightness(2.2);
    cursor: pointer;
    } 

  .botao-clicado {
    border-radius: 50px !important;
    border:none;
    background-color: rgb(236, 4, 147);
    color: white;
    transition: filter .3s;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    padding: 20px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-top: 300px;
  }

  